<md-dialog-content>
  <div>
    <div class="game-preview">
      <img [src]="game.backdrop">  
    </div>
    <div class="game-details">
      <h1>{{game.name}}</h1>
      <div [innerHTML]="game.summary"></div>
      <div class="game-regulators">
        <span *ngFor="let gameRegulator of game.gameRegulators"
              [ngClass]="['game-regulator', gameRegulator.regulator]"></span>
      </div>
    </div>
  </div>
</md-dialog-content>
<md-dialog-actions>
  <button md-button (click)="hideDetailsDialog()">Close</button>
</md-dialog-actions>